.todo {
  border-radius: 12px;
  margin: 1rem;
  padding: 1rem;
  background-color: blueviolet;
  color: white;
}

.title {
  font-size: x-large;
}

.activateButton {
  width: 5rem;
  border-radius: 12px;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: white;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deactivateButton {
  width: 5rem;
  border-radius: 12px;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #131313a4;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
